/**
* Padding for the body (to accomodate the fixed nav-bar).
*/
body {
    padding-top: 5rem;
}

/**
* Responsive Text (apparently I'm on my own here)
* https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
*/

.account{
    font-family: "helvetica", sans-serif;
    text-align: center; 
}



.starter-template {
padding: 3rem 1.5rem;
text-align: center;
}


/**
* Padding for the body (to accomodate the fixed nav-bar).
*/
body {
padding-top: 5rem;
}

/**
* Responsive Text (apparently I'm on my own here)
* https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
*/
p {
font-size: 1.2em;
color: #555;
}


.starter-template {
padding: 3rem 1.5rem;
text-align: center;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width:100%;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px, 0px;
    
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

.header{
    background: radial-gradient(#fff,#D3D3D3);
}

.header .row{
    margin-top:70px;
}

body{
    font-family:'Poppins', sans-serif;
}

.categories{
    margin: 70px 0px;
}

.col-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
}

.col-3 img{
    width: 100%;
}

.col-4{
    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-10px);
}

.rating{
    list-style-type: none;
    color: #ff523b;
}

.title{
    text-align: center;
    margin:  auto 80px;
    position: relative;
    line-height:60px;
    color: #555
}

.title::after{
    content:'';
    background: #ff523b;
    width: 80px; 
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);	
}

h4{
    color: #555;
    font-weight: normal;	
}

.col-4 p{
    font-size: 14px;
}


.offer{
    background: radial-gradient(#fff,#D3D3D3);
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*-----------Navigation------*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1; 
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}

/*-----------Single Product------*/
.single-product .col-2 img{
    padding: 0;
    min-width: 300px;
}

.single-product .col-2{
    padding: 20px;
    flex-basis: 50%;
    min-width: 300px;
}
.single-product h4{
    margin:20px 0;
    font-size:22px;
    font-weight: bold;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}


/*-----------Reviews------*/
.reviews{
    padding-top: 10px;
    background: radial-gradient(#fff,#D3D3D3);
}

.reviews .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.reviews .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius:50%
    
}

.reviews .col-3:hover{
    transform: translateY(-10px);
}

/*-----------Footer------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis:30%
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.footer hr{
    border: none;
    background: b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}


/*-----------Menu Icon------*/


.menu-icon{
    width: 28px;
    /*margin-left: 20px;*/
    display: none;
}


/*-----------Sort Product------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/*----------about page-----------*/
.aboutcolumn {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.aboutperson {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.aboutperson:hover{
    transform: translateY(-10px);
}

.aboutinfo{
    text-align: center;
    color: white
}

.aboutUs {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.aboutcontainer {
  padding: 0 16px;
}

.aboutcontainer::after, .aboutrow::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



/*----------account page-----------*/
.accountTitle{
    text-align: center;
    margin:  auto 80px;
    position: relative;
    line-height:60px;
    color: #555;
    font-size: 50px;
}

.userInfo{
    text-align: center;
    position: relative;
    line-height:60px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.userInfoTitle{
    text-align: center;
    position: relative;
    line-height:60px;
    font-size: 30px;
    text-decoration: underline;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.accountTitle::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



.accountImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:10%;
}


.ordersCol-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
}

.ordersCol-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px,0px;
    text-align: center;
    text-decoration: underline;
}
