{% extends "base.html" %}
{% set active_page = "afterOrder" %}
{% block content %}

<br>
<br>

<div class="offer">
    <div class = "small-container">
        <h2 class = "title">Thank you for submitting an order:</h2>
            <br>
            <h2 class="userInfoTitle">Full Name:</h2>
            <h2 class="userInfo">{{name}}</h2>
            <br>
            <h2 class="userInfoTitle">Email:</h2>
            <h2 class="userInfo">{{name}}</h2>
            <br>
            <h2 class="userInfoTitle">Item:</h2>
            <h2 class="userInfo">{{item}}</h2>
            <br>
            <h2 class="userInfoTitle">Address:</h2>
            <h2 class="userInfo">{{address}}</h2>
            <br>
            <h2 class="userInfoTitle">Postcode:</h2>
            <h2 class="userInfo">{{postcode}}</h2>
            <br>
            <h2 class="userInfoTitle">Delivery Date:</h2>
            <h2 class="userInfo">{{eta}}</h2>
            <br>
</div>

{% endblock %}

