{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

<div class ="header">
    <div class="container">
        <div class ="row">
            <div class="col-2">
                <h1>Spruce Up Your Home <br> With A New Style!</h1>
                <p>Cheap funiture doesnt always have to be low quality. Its about <br> modern designs, high comfort and great prices</p>
                <a href = "" class="btn"> Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src = "static/image3.jpg">
            </div>
        </div>
    </div>
</div>

<!-----------featured categories----------------->

<div class="categories">
    <div class = "small-container">
        <h2 class = "title">Featured Categories</h2>
        <div class="row">
            <div class="col-3">
                <img src="static/category-1.jpg">
            </div>
            <div class="col-3">
                <img src="static/category-2.jpg">
            </div>	
            <div class="col-3">
                <img src="static/category-3.jpg">
            </div>
        </div>	
    </div>
</div>

<!-----------featured products----------------->

<div class = "small-container">
    <h2 class = "title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="static/FP1.jpg">
            <h4>Blue 2 Seater Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9734;</li>
            </div>
            <p>£649.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP2.jpg">
            <h4>Orange Minamalist Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£599.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP3.jpg">
            <h4>King Sized Bed</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£299.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP4.jpg">
            <h4>Modern Coffee Table</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£150.00</p>
        </div>
        <div class="col-4">
            <img src="static/FP5.jpg">
            <h4>Blue 2 Seater Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9734;</li>
            </div>
            <p>£649.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP6.jpg">
            <h4>Orange Minamalist Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9734;</li>
            </div>
            <p>£599.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP7.jpg">
            
            <h4>King Sized Bed</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£299.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP8.jpg">
            <h4>Modern Coffee Table</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£150.00</p>
        </div>
    </div>	
</div>
<br></br>
    
<!-----------offers----------------->
    
<div class="offer">
    <div class = "small-container">
        <div class ="row">
            <div class = "col-2">
                <img src="static/offer1.jpg" class="offer-img">
            </div>
            <div class ="col-2">
                <p>Exclusive to AD Furniture</p>
                <h1>Five Star Interior Consultations</h1>
                <small>The new luxury service made available to our customers. Qualified interior designers are on hand to help you design your home interior. Wether this is sleek and modern or comfy and cosey, we are here to help make your house a dream home.</small>
            </div>
        </div>
    </div>
</div>

<br></br>
<br></br>
    
<!-----------featured products----------------->	

<div class = "small-container">
    <h2 class = "title">New Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="static/FP1.jpg">
            <h4>Blue 2 Seater Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9734;</li>
            </div>
            <p>£649.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP2.jpg">
            <h4>Orange Minamalist Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£599.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP3.jpg">
            <h4>King Sized Bed</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£299.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP4.jpg">
            <h4>Modern Coffee Table</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£150.00</p>
        </div>
        <div class="col-4">
            <img src="static/FP5.jpg">
            <h4>Blue 2 Seater Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9734;</li>
            </div>
            <p>£649.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP6.jpg">
            <h4>Orange Minamalist Sofa</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9734;</li>
            </div>
            <p>£599.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP7.jpg">
            
            <h4>King Sized Bed</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£299.99</p>
        </div>
        <div class="col-4">
            <img src="static/FP8.jpg">
            <h4>Modern Coffee Table</h4>
            <div class="rating">
                <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
            </div>
            <p>£150.00</p>
        </div>
    </div>	
</div>

<!-----------reviews----------------->
<div class = "small-container">
    <div class="reviews">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left" style="font-size:24px"></i>
                    <p>"AD furniture really help me. They helped me change my house from looking dull and outdated to modern and classy. THANK YOU AD FUNITURE!"</p>
                    <div class="rating">
                        <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
                    </div>
                    <img src="static/review1.jpg">
                    <h3>John Doe</h3>
                </div>
                
                <div class="col-3">
                    <i class="fa fa-quote-left" style="font-size:24px"></i>
                    <p>"The furniture on from this store is top quality. The sofa transformed my living room!!!!"</p>
                    <div class="rating">
                        <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
                    </div>
                    <img src="static/review2.jpg">
                    <h3>Sarah Mann</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left" style="font-size:24px"></i>
                    <p>"AD furniture you  are amazing. The room speaks for itslef. Just loop at this. I would highly reommend this store to anyone. The quality is 10/10 and the interior designers are amazing"</p>
                    <div class="rating">
                        <li>&#9733; &#9733; &#9733; &#9733; &#9733;</li>
                    </div>
                    <img src="static/review3.jpg">
                    <h3>Mike Hall</h3>
                </div>
            </div>
        </div>	
    </div>
</div>
<br>
<br>
    
{% endblock %}
