{% extends "base.html" %}
{% set active_page = "userOrders" %}
{% block content %}

	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Your Orders</title>

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-storage.js"></script>

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='forumpost.js') }}"></script>

    <!-- [START gae_python38_auth_firebase_html] -->
    <!-- [START gae_python3_auth_firebase_html] -->
    <div id="firebaseui-auth-container"></div>

    <button id="sign-out" hidden=true>Sign Out</button>


    <br>
    <br>

	<div class="jumbotron text-center">
		<h1>Your Orders</h1>
	</div>

	{% for d in data %}
    <div class="offer">
        <div class = "small-container">
            <div class ="row">
                <div class = "ordersCol-2">
                    <h1>Order Summary</h1>
                    <h1>number</h1>
                </div>
                <div class ="ordersCol-2">
                    <br>
                    <p><b>Full Name:</b> {{ d['name'] }}</p>
                    <p><b>Email:</b> {{ d['email'] }}</p>
                    <p><b>Order Item:</b>{{ d['item'] }}</p>
                    <p><b>Delivery Address:</b>{{ d['address'] }}</p>
                    <p><b>Delivery Postcode:</b>{{ d['postcode'] }}</p>
                    <p><b>Delivery Date:</b>{{ d['eta'] }}</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</body>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBdEkS9JSHcHReiE8RngoXD7yTta-us5gk",
    authDomain: "assignment-332511.firebaseapp.com",
    projectId: "assignment-332511",
    storageBucket: "assignment-332511.appspot.com",
    messagingSenderId: "933317959193",
    appId: "1:933317959193:web:bd045c164e98bef6d01488",
    measurementId: "G-PHHGSLFTG8"
    };
 
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>


{% endblock %}